.ficha {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  color: #333;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.3s ease;
}

.ficha img {
  width: 100%;
  border-radius: 8px;
}

.ficha.modo-halloween {
  color: orange !important;
  border-color: red;
  box-shadow: 0 0 20px red;
  transform: rotate(-1deg);
}

.ficha.modo-navidad {
  color: #00ffff !important;
  border-color: white;
  box-shadow: 0 0 20px #00ffff;
  transform: scale(1.03);
}