.example-spacer {
  flex: 1 1 auto;
}

.opcion {
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.opcion:hover {
  font-weight: 700;
  color: #ff7518;
}

mat-toolbar.halloween {
  background: linear-gradient(90deg, #300000, #000);
  color: #ff7518;
  box-shadow: 0 0 20px #ff7518;
  transition: all 0.5s ease;
}

mat-toolbar.halloween .opcion:hover {
  color: #ff0000;
  text-shadow: 0 0 6px #ff0000;
}

@media (max-width: 900px) {
  .opcion2 {
    display: none;
  }
}

@media (max-width: 900px) {
  .opcion1 {
    display: none;
  }
}
